/* src/styles/resume.module.css */

.resume-container {
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000000;
  }
  
  .headerTitle {
    font-size: 32px;
    font-weight: bold;
  }
  
  .headerLink {
    color: #f58a33;
    text-decoration: none;
  }
  
  .headerLink:hover {
    text-decoration: underline;
  }
  
  .sectionTitle {
    border-bottom: 2px solid #f58a33;
    padding-bottom: 5px;
    margin-top: 40px;
    color: #000000;
    font-weight: bold;
  }

  .subsectionTitle {
    margin: 20px 0 10px 0;
    color: #000000;
    font-weight: bold;
  }

  .innerText {
    padding-bottom: 10px;
    color: #000000;
    font-weight: bold;
  }

/* Responsive styles for smaller screens */
@media (max-width: 640px) { /* Mobile screens */
  .resume-container {
    padding: 10px;
    max-width: 100%;
  }

  .headerTitle {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .headerLink {
    font-size: 0.875rem; /* Adjust font size for links on smaller screens */
  }

  .innerText {
    padding-bottom: 10px;
    color: #000000;
    font-weight: bold;
  }
}
  