@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/
body {
  color: rgb(var(--foreground-rgb));
  background-color: rgba(200, 160, 255, 0.5); /* Adjust alpha value as needed */
  font-family: Arial, sans-serif, mono;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
}
header {
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
  margin-top: 40px;
  color: #333;
}

h3 {
  margin: 20px 0 10px 0;
  color: #555;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

strong {
  color: #333;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
